/* index.css */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --primary-color: #007bff;
}


[data-theme="dark"] {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --primary-color: #0d6efd;
}
body{
  font-family: "Noto Sans", sans-serif;


}


/* Works on Chrome, Edge, and Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;     /* Firefox */
}
